<html>
<head>
    <title>About</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<body>

    <div class="link">
            <a href="{{ url_for('index') }}">Home</a>
    </div>

    <div class="box">
        <pre>
        Created by Diego Cabello
        Nov 2020 - Mar 2021

        Written using:
            Python
                Spotify API
                LyricsGenius API, ©2020 John W. Miller
            HTML, CSS

        Contact Info
            Email: diego.xavier.cabello@gmail.com
        </pre>

</div>

</body>
</html>